{% from 'bootstrap5/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
        {{ bootstrap.load_css() }}
        {% endblock %}

        {% block title %}
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Microblog</title>
        {% endif %}
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% endblock %}

        {% endblock %}
    </head>
    <body>
        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand mb-0 h1" href="{{ url_for('main.index') }}">Microblog</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        {{ render_nav_item('main.index', 'Home', use_li=True) }}
                        {{ render_nav_item('main.explore', 'Explore', use_li=True) }}
                    </ul>
                    {% if g.search_form %}
                    <form class="d-flex ms-auto" method="get" action="{{ url_for('main.search') }}">
                        <div class="input-group">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </span>
                            {{ g.search_form.q(size=20, class='form-control',
                                placeholder=g.search_form.q.label.text) }}
                        </div>
                    </form>
                    {% endif %}
                    <ul class="navbar-nav ms-auto">
                        {% if current_user.is_anonymous %}
                        {{ render_nav_item('auth.login', 'Login', use_li=True) }}
                        {% else %}
                        {#
                        {% set new_msgs = current_user.new_messages() %}
                        {% if new_msgs %}
                        {{ render_nav_item('main.messages', 'Messages',
                            badge=new_msgs, use_li=True) }}
                        {% else %}
                        {{ render_nav_item('main.messages', 'Messages',
                            use_li=True) }}
                        {% endif %}
                        #}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/messages' %} active {% endif %}" href="{{ url_for('main.messages') }}">
                            Messages
                            {% set new_msgs = current_user.new_messages() %}
                            <span id="msg_count" class="badge bg-secondary"
                                  style="visibility: {% if new_msgs %}visible
                                                     {% else %}hidden{% endif %};">
                                {{ new_msgs }}
                            </span>
                            </a>
                        </li>
                        {{ render_nav_item('main.user', 'Profile',
                            username=current_user.username, use_li=True) }}
                        {{ render_nav_item('auth.logout', 'Logout',
                        use_li=True) }}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}
        <br>
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dark" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        {% block scripts %}
        {{ moment.include_moment() }}
        {{ bootstrap.load_js() }}
        <script>
            function set_message_count(n) {
                var badge = document.getElementById("msg_count");
                badge.innerHTML = n;
                badge.style.visibility = n ? 'visible' : 'hidden';
            }
            {% if current_user.is_authenticated %}
            window.onload = function() {
                var since = 0;
                setInterval(function() {
                    var request = new XMLHttpRequest();
                    request.open("GET",
                        "{{ url_for('main.notifications') }}?since=" + since);
                    request.onreadystatechange = function() {
                        if (this.readyState === 4 && this.status === 200) {
                            const notifications = JSON.parse(this.responseText);
                            for (var i = 0; i < notifications.length; i++) {
                                if (notifications[i].name == 'unread_message_count') {
                                    set_message_count(notifications[i].data);
                                }
                                since = notifications[i].timestamp;
                            }
                        }
                    }
                    request.send();
                }, 10000);
            }
            {% endif %}
        </script>
        {% endblock %}
    </body>
</html>
