{% extends 'main/base.html' %}
{% from 'bootstrap5/pagination.html' import render_pagination %}
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}
<table>
    <tr valign='center'>
        <td><img src='{{ user.avatar(128) }}'></td>
        <td>
            <h1>User: {{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}
            <p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>
            {% endif %}
            <p>
            {{ user.followers.count() }} followers, {{ user.followed.count() }} following
            </p>
            {% if user == current_user %}
            <p>
            <a class="btn btn-primary" role="button"
                href="{{ url_for('main.edit_profile') }}">
                Edit your profile
            </a>
            </p>
            {% if not current_user.get_task_in_progress('export_posts') %}
            <p>
            <a class="btn btn-primary" role="button"
                href="{{ url_for('main.export_posts') }}">
                 Export your posts
            </a>
            </p>
            {% endif %}
            {% elif not current_user.is_following(user) %}
            <p>
                <form action="{{ url_for('main.follow', username=user.username) }}" 
                    method='POST'>
                    {{ forms[1].hidden_tag() }}
                    {{ render_field(forms[1].submit, value='Follow') }}
                </form>
            </p>
            {% else %}
            <p>
                <form action="{{ url_for('main.unfollow', username=user.username) }}" method='POST'>
                    {{ forms[1].hidden_tag() }}
                    {{ render_field(forms[1].submit, value='Unfollow') }}
                </form>
            </p>
            {% endif %}
            {% if user != current_user %}
            <p>
            <a class="btn btn-primary" role="button" 
                                       href="{{ url_for('main.send_message',
                                             recipient=user.username) }}">
                    Send private message
            </a>
            </p>
            {% endif %}
        </td>
    </tr>
</table>
<hr>
{% include 'main/_new_post.html' %}
{% for post in posts %}
<p>
{% include 'main/_post.html' %}
</p>
{% endfor %}
{#
{% if prev_url %}
<a href={{ prev_url }}>Newer posts</a>
{% endif %}
{% if next_url %}
<a href={{ next_url }}>Older posts</a>
{% endif %}
#}
{{ render_pagination(pagination) }}
{% endblock %}
